<header>
  <div class="header-left">
    <a href="/"> <h1>Kelvin's Klub</h1> </a>
    <img src="images/club-icon.png" alt="caveman club icon" />
  </div>
  <% if (user) { %>
  <div class="name">
    <p><%= user.firstName + " " + user.lastName %></p>
  </div>
  <% } %>
  <div class="header-right">
    <% if (user) { %>
    <div class="header-btns">
      <a href="/new"><button type="button">Create Message</button></a>
      <div>
        <% if (!(user && user.member)) { %>
        <a href="/member">Member</a>
        <% } %>
        <% if (!(user && user.admin)) { %>
        <a href="/admin">Admin</a>
        <% } %>
        <a href="/log-out">Log Out</a>
      </div>
    </div>

    <% } else { %>
    <a href="/sign-up">Sign Up</a>
    <a href="/log-in">Log In</a>
    <% } %>
  </div>
</header>
