<header>
  <div class="header-left">
    <a href="/"> <h1>Kelvin's Klub</h1> </a>
    <img src="images/club-icon.png" alt="caveman club icon" />
  </div>
  <div class="header-right">
    <a href="/sign-up"> <p>Sign Up</p> </a>
    <a href="/log-in"> <p>Log In</p> </a>
  </div>
</header>
