<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="messages">
      <% messages.forEach((message) => { %>
      <ul>
        <li>Text: <%= message.text %></li>
        <li>User: <%= message.user %></li>
        <li>Added <%= message.added %></li>
      </ul>
      <% }) %>
    </div>
    <a href="/new"><button type="button">Add New Message</button></a>
  </body>
</html>
