<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include _links.ejs %>
  </head>
  <body>
    <%- include _header.ejs %>
    <div id="log-in">
      <div class="form-container">
        <h1><%= title %></h1>
        <img src="images/treehouse.jpeg" alt="" />
        <form action="/log-in" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" requried />
          </div>
          <div class="form-group">
            <button type="submit">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
