body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(58, 58, 58);
  margin: 0;
  font-family: monospace;
}

.form, .index {
  width: 100%;
  font: 1rem monospace;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: rgb(51, 51, 51);
  color: white;
  font: 1rem monospace;
  gap: 1rem;
}
header .header-left {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
header .header-left a {
  text-decoration: none;
  color: white;
}
header .header-left h1 {
  font-size: 1.5rem;
  text-align: center;
}
header .header-left img {
  margin: auto;
  width: auto;
  height: 40px;
}
header .name {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
header .name p {
  margin: 0;
  text-align: center;
}
header .header-right {
  display: flex;
  align-items: center;
  caret-color: transparent;
}
header .header-right .header-btns {
  display: flex;
  align-items: center;
}
header .header-right a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
}
header .header-right a:hover {
  cursor: pointer;
  color: burlywood;
}
header .header-right button:hover {
  cursor: pointer;
}
header .header-right .header-btns > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media screen and (max-width: 800px) {
  header .header-btns {
    flex-direction: column;
    margin: 0.5rem 0;
  }
}
@media screen and (max-width: 550px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header .header-btns {
    flex-direction: column;
  }
  header .header-btns > div {
    flex-direction: row;
  }
}
header button {
  background-color: burlywood;
  border: none;
  padding: 8px;
  border-radius: 0.2rem;
  min-width: 10.5rem;
}

.index .messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  margin: 0 auto;
}
.index .messages .messages-container {
  background-color: rgb(152, 152, 152);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 2px 2px 5px 2px rgb(32, 32, 32);
  text-align: left;
  width: clamp(50vw, 50rem, 85vw);
  display: flex;
  gap: 1rem;
}
.index .messages .messages-container .message-img {
  display: flex;
  align-items: center;
}
.index .messages .messages-container .message-img > img {
  width: clamp(100px, 8vw, 200px);
  height: auto;
  border-radius: 1rem;
}
.index .messages .messages-container .message-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.index .messages .messages-container .message-info p:first-child {
  font-size: 1.5rem;
  margin: 0.2rem 0;
}
.index .messages .messages-container .message-info p:nth-child(2) {
  font-size: 1rem;
  margin: 0.6rem 0;
}
.index .messages .messages-container .message-info p:nth-child(3) {
  font-size: 0.7rem;
  margin: 0.8rem 0 0 0;
}
@media screen and (max-width: 550px) {
  .index .messages .messages-container .message-info p:first-child {
    font-size: 1rem;
  }
  .index .messages .messages-container .message-info p:nth-child(2) {
    font-size: 0.7rem;
  }
  .index .messages .messages-container .message-info p:nth-child(3) {
    font-size: 0.5rem;
  }
}
.index .messages .messages-container .message-info button {
  background-color: burlywood;
  border: none;
  padding: 8px;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  display: flex;
}

.form form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1em;
}
.form form div:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form form div:not(:last-child) label {
  text-align: left;
}
.form form div:not(:last-child) textarea {
  resize: none;
}
.form form div:last-child a > button {
  background-color: rgb(250, 75, 75);
  border: none;
  padding: 8px;
  border-radius: 0.2rem;
  min-width: 10.5rem;
}
.form form div:last-child > button {
  background-color: rgb(75, 250, 75);
  border: none;
  padding: 8px;
  border-radius: 0.2rem;
  min-width: 10.5rem;
}

#log-in,
#sign-up,
#member,
#admin {
  background-size: cover;
  width: 100vw;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-items: center;
}
#log-in .form-container,
#sign-up .form-container,
#member .form-container,
#admin .form-container {
  margin: 2rem auto;
  background-color: burlywood;
  padding: 25px 75px 50px 75px;
  border: 2px solid black;
  gap: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  #log-in .form-container,
#sign-up .form-container,
#member .form-container,
#admin .form-container {
    padding: 25px;
  }
}
@media screen and (max-width: 850px) {
  #log-in .form-container,
#sign-up .form-container,
#member .form-container,
#admin .form-container {
    width: 70%;
  }
}
#log-in .form-container h1,
#sign-up .form-container h1,
#member .form-container h1,
#admin .form-container h1 {
  display: flex;
  justify-content: center;
}
#log-in .form-container img,
#sign-up .form-container img,
#member .form-container img,
#admin .form-container img {
  height: auto;
  width: clamp(200px, 50vw, 400px);
  border-radius: 2rem;
  margin: 0 0 1rem 0;
  align-self: center;
}
#log-in .form-container label,
#sign-up .form-container label,
#member .form-container label,
#admin .form-container label {
  font-family: "monospace";
  padding-left: 10px;
}
#log-in .form-container input,
#sign-up .form-container input,
#member .form-container input,
#admin .form-container input {
  display: block;
  width: calc(100% - 10px);
  font-size: 1rem;
  line-height: 2rem;
  font-family: "monospace";
  border: none;
  background: #f8f4e5;
  padding-left: 10px;
  outline: none;
  margin: 2px 0 1rem 0;
  border-radius: 2rem;
}
#log-in .form-container .form-group > p,
#sign-up .form-container .form-group > p,
#member .form-container .form-group > p,
#admin .form-container .form-group > p {
  font-size: 1rem;
  font-family: "monospace";
  margin: 0;
  padding-bottom: 2px;
  padding-left: 10px;
}
#log-in .form-container .characters-container,
#sign-up .form-container .characters-container,
#member .form-container .characters-container,
#admin .form-container .characters-container {
  display: flex;
  gap: 1rem;
  background-color: #f8f4e5;
  border-radius: 2rem;
  padding: 0.5rem;
  width: calc(100% - 15px);
  flex-wrap: wrap;
  justify-content: center;
}
#log-in .form-container .characters-container .character input,
#sign-up .form-container .characters-container .character input,
#member .form-container .characters-container .character input,
#admin .form-container .characters-container .character input {
  position: absolute;
  left: -9999px;
}
#log-in .form-container .characters-container .character label > img,
#sign-up .form-container .characters-container .character label > img,
#member .form-container .characters-container .character label > img,
#admin .form-container .characters-container .character label > img {
  margin: 0;
  border-radius: 10rem;
  height: auto;
  width: 100px;
  border: 5px solid transparent;
  cursor: pointer;
}
#log-in .form-container .characters-container .character input:checked + label > img,
#sign-up .form-container .characters-container .character input:checked + label > img,
#member .form-container .characters-container .character input:checked + label > img,
#admin .form-container .characters-container .character input:checked + label > img {
  border: 5px solid #ffa580;
}
#log-in .form-container button,
#sign-up .form-container button,
#member .form-container button,
#admin .form-container button {
  background-color: #f8f4e5;
  outline: none;
  border: none;
  padding: 1rem;
  margin: 1rem 0 0 0;
  cursor: pointer;
  border-radius: 2rem;
  width: 100%;
  font-size: 1rem;
  font-family: "monospace";
  color: black;
}
#log-in .form-container button:hover,
#sign-up .form-container button:hover,
#member .form-container button:hover,
#admin .form-container button:hover {
  background-color: #ffa580;
}
