header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: rgb(51, 51, 51);
  color: white;
  font: 1rem monospace;
  gap: 1rem;
  align-items: center;

  .header-left {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
    }
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }

    img {
      margin: auto;
      width: auto;
      height: 40px;
    }
  }

  .name {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 0;
    justify-content: center;

    p {
      margin: 0;
      text-align: center;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    caret-color: transparent;

    .header-btns {
      display: flex;
      align-items: center;
    }

    a {
      padding: 1rem;
      text-decoration: none;
      color: white;
      text-align: center;
    }

    a:hover {
      cursor: pointer;
      color: burlywood;
    }

    button:hover {
      cursor: pointer;
    }

    .header-btns > div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  @media screen and (max-width: 800px) {
    .header-btns {
      flex-direction: column;
      margin: 0.5rem 0;
    }
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
    align-items: center;

    .header-btns {
      flex-direction: column;
    }

    .header-btns > div {
      flex-direction: row;
    }
  }

  button {
    @include button(burlywood);
  }
}
