$form-bg: #f8f4e5;
$form-bg-secondary: #ffa580;
$font-size: 1rem;
$font-face: "monospace";

#log-in,
#sign-up,
#member,
#admin {
  background-size: cover;
  width: 100vw;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-items: center;

  .form-container {
    margin: 2rem auto;
    background-color: burlywood;
    padding: 25px 75px 50px 75px;
    border: 2px solid black;
    gap: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 600px) {
      padding: 25px;
    }

    @media screen and (max-width: 850px) {
      width: 70%;
    }

    h1 {
      display: flex;
      justify-content: center;
    }

    img {
      height: auto;
      width: clamp(200px, 50vw, 400px);
      border-radius: 2rem;
      margin: 0 0 1rem 0;
      align-self: center;
    }

    label {
      font-family: $font-face;
      padding-left: 10px;
    }

    input {
      display: block;
      width: calc(100% - 10px);
      font-size: $font-size;
      line-height: $font-size * 2;
      font-family: $font-face;
      border: none;
      background: $form-bg;
      padding-left: 10px;
      outline: none;
      margin: 2px 0 1rem 0;
      border-radius: 2rem;
    }

    .form-group > p {
      font-size: $font-size;
      font-family: $font-face;
      margin: 0;
      padding-bottom: 2px;
      padding-left: 10px;
    }

    .characters-container {
      display: flex;
      gap: 1rem;
      background-color: $form-bg;
      border-radius: 2rem;
      padding: 0.5rem;
      width: calc(100% - 15px);
      flex-wrap: wrap;
      justify-content: center;

      .character {
        input {
          position: absolute;
          left: -9999px;
        }

        label > img {
          margin: 0;
          border-radius: 10rem;
          height: auto;
          width: 100px;
          border: 5px solid transparent;
          cursor: pointer;
        }

        input:checked + label > img {
          border: 5px solid $form-bg-secondary;
        }
      }
    }

    button {
      background-color: $form-bg;
      outline: none;
      border: none;
      padding: 1rem;
      margin: 1rem 0 0 0;
      cursor: pointer;
      border-radius: 2rem;
      width: 100%;
      font-size: $font-size;
      font-family: $font-face;

      &:hover {
        background-color: $form-bg-secondary;
      }
    }
  }
}
