.index {
  @extend %page-setup;

  .messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;

    .messages-container {
      background-color: rgb(152, 152, 152);
      border-radius: 0.5rem;
      padding: 1rem;
      box-shadow: 2px 2px 5px 2px rgb(32, 32, 32);
      text-align: left;
      width: clamp(50vw, 50rem, 85vw);
      display: flex;
      gap: 1rem;

      .message-img {
        display: flex;
        align-items: center;
      }

      .message-img > img {
        width: clamp(100px, 8vw, 200px);
        height: auto;
        border-radius: 1rem;
      }
      .message-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p:first-child {
          font-size: 1.5rem;
          margin: 0.2rem 0;
        }

        p:nth-child(2) {
          font-size: 1rem;
          margin: 0.6rem 0;
        }

        p:nth-child(3) {
          font-size: 0.7rem;
          margin: 0.8rem 0 0 0;
        }

        @media screen and (max-width: 550px) {
          p:first-child {
            font-size: 1rem;
          }

          p:nth-child(2) {
            font-size: 0.7rem;
          }

          p:nth-child(3) {
            font-size: 0.5rem;
          }
        }

        button {
          background-color: burlywood;
          border: none;
          padding: 8px;
          border-radius: 0.2rem;
          margin: 0.5rem 0;
          display: flex;
        }
      }
    }
  }
}
