body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(58, 58, 58);
  margin: 0;
  font-family: monospace;
}

@import "_page.scss";
@import "_header.scss";
@import "index.scss";
@import "msg-form.scss";
@import "form.scss";
